[Interface]
Address = {{ wg_server_interface_addr }}
SaveConfig = false
PrivateKey = {{ privatekey }}
ListenPort = {{ wg_server_listening_port }}
PostUp = iptables -A FORWARD -i %i -j ACCEPT; iptables -t nat -A POSTROUTING -o {{ internet_interface }} -j MASQUERADE
PostDown = iptables -D FORWARD -i %i -j ACCEPT; iptables -t nat -D POSTROUTING -o {{ internet_interface }} -j MASQUERADE

{% for peer in wg_server_allowed_addr %}
[Peer]
PublicKey = {{ peer["public_key"] }}
AllowedIPs = {{ peer["addr"] }}
{% endfor %}