[Interface]
Address = {{ wg_server_interface_addr }}
SaveConfig = true
PrivateKey = {{ privatekey }}
ListenPort = {{ wg_server_listening_port }}

{% for peer in wg_server_allowed_addr %}
[Peer]
PublicKey = {{ peer["public_key"] }}
AllowedIPs = {{ peer["addr"] }}
{% endfor %}