options{
	listen-on-v6 { none; };
	forwarders {
                {{ dns_forwarder_server_1 }};
                {{ dns_forwarder_server_2 }};
        };
        forward only;
	max-cache-size {{ bind_max_cache_size }};
	allow-query{any;};
};
